<div class="modal" id="modal-absensi">
  <div class="modal-backdrop"></div>

  <div class="modal-box fade-in">
    <h3 class="modal-title">Form absensi Menstruasi</h3>

    <form id="form-absensi" class="modal-form">
      <label>
        Alasan
        <textarea
          name="alasan"
          class="input"
          placeholder="Contoh: Hari pertama, nyeri perut..."
          required
        ></textarea>
      </label>

      <div class="modal-actions">
        <button type="button" class="btn btn-red" id="close-modal">
          Batal
        </button>
        <button type="submit" class="btn btn-green">Kirim</button>
      </div>
    </form>
  </div>
</div>
